.footer {
    width: 100%;
    bottom: 0;
    padding: 1rem 1rem 3rem 1rem;
    display: flex;
    position: fixed;
    justify-content: space-around;
}

.icon-container {
    fill: black;
    transition: filter 0.3s;
}

.icon-container-dark {
    fill: white;
}

.icon-container :hover {
    fill: #E5E500;
}

.icon-container-dark :hover {
    fill: #E5E500;
}

svg {
    background-color: transparent;
    border-radius: 20px;
}
