.footer{
    width: 100%;
    bottom: 0;
    padding: 1rem 1rem 3rem 1rem;
    display: flex;
    position: fixed;
    justify-content: space-around;
}

.icon-container{
    fill: black;
    transition: filter 0.3s;
}

.dark{
    fill: white;
}

.icon-container :hover{
    fill: pink;
}

svg{
    background-color: transparent;
    border-radius: 20px;
}