@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Tauri&display=swap');

.header{
    display: flex;
    align-items: center;
    justify-content:space-around;
}

ul{
    display: flex;
    list-style: none;
}

li{
    padding: 1rem 5rem 1rem 5rem;
    font-size: 1.5rem;
    font-family: "Noto Serif JP", serif;
}

li:hover{
    cursor: pointer;
    transform: rotate(1turn);
    transition: transform 1s ease;
}

a{
    color: unset;
    text-decoration: none;
}