@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Tauri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');

.project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0;
    margin: 0;
}

h2{
    font-family: "Tauri",sans-serif;
}

p{
    font-family: "Noto Serif JP", serif;
    text-align: center;
}

.project-img{
    height: 20rem;
    border-radius: 20px;
    margin : 1rem;
    background-color:darkolivegreen;
    filter: saturate(30%) hue-rotate(-30deg);
    transition: 0.6s all;
}

.project-img:hover {
    filter: none;
    translate: 0 -0.5rem;
    rotate: 3deg;
    cursor: pointer;
}