@import url("https://fonts.googleapis.com/css2?family=Tauri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Tauri&display=swap");

@keyframes upAndDown {
    0% {
        translate: 0 0;
    }
    50% {
        translate: 0 1rem;
    }
    100% {
        translate: 0 0;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header {
    height: 10%;
}

#top {
    height: 100vh;
}

.btn-dark {
    border: none;
    background-color: transparent;
    font-size: 1.5em;
    position: fixed;
    left: 90vw;
    top: 2rem;
}

.btn-dark:hover {
    cursor: pointer;
    transform: rotate(1turn);
    transition: transform 1s ease;
}

.dark {
    background-color: #1e1e21;
    color: #fafaf1;
}

.light {
    background-color: #fafaf1;
    color: #1e1e21;
}

.move-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    font-size: 1.5rem;
    animation: upAndDown 2s ease-in-out infinite;
    text-decoration: none;
    color: unset;
}

.fractal {
    height: 25vh;
}

.pres {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 90%;
    margin-top: 10rem;
    gap: 3rem;
}

.greetings {
    font-size: 4rem;
}

.about-me {
    font-size: 1.5rem;
}

.cool-stuff {
    height: 50vh;
}

#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.endpoint {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

.endpoint > p {
    padding-left: 3rem;
}
